{
  "plugins": [
    "tailwindcss"
  ],
  "extends": [
    // "plugin:tailwindcss/recommended",
    "@antfu"
  ],
  "rules": {
    // Enforce typesafety for Tailwind CSS classnames
    // https://github.com/francoismassart/eslint-plugin-tailwindcss/blob/master/docs/rules/no-custom-classname.md
    "tailwindcss/no-custom-classname": 0,
    "tailwindcss/no-contradicting-classname": 0
  }
}